/********************************* 
 *  html tags 
*********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
a img {
    border: none;
}

html {
    background: #eeeeee;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background: #eeeeee;
    color: #333333;
}

/********************************* 
 *  scrum board classes 
*********************************/
.todoapp, .inprogressapp, .doneapp, .create-todo {
    width: 480px;
    margin: 10px;
    background: white;
    padding: 20px;
}

.create-todo {
    width: 100%;
}

.todoapp, .inprogressapp, .doneapp {
    float: left;   
}

.todoapp h1, .inprogressapp h1, .doneapp h1, .create-todo h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding: 0;
    line-height: 1;
}

.create-todo {
    position: relative;
}

.create-todo input, select {
    margin: 5px;
    width: 466px;
    font-size: 18px;
    font-family: inherit;
    line-height: 1.2em;
    border: 0;
    padding: 5px;
    outline: none;
    border: 1px solid #999999;
}

.create-todo input::-webkit-input-placeholder {
    font-style: italic;
}

.create-todo span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
}

.todo-list {
    margin-top: 10px;
}
.todo-list li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 18px;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
}
.todo-list li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/********************************* 
 *  edit classes
*********************************/
.todo-list li.editing {
    padding: 0;
    border-bottom: 0;
}
.todo-list .editing .display,
.todo-list .edit {
    display: none;
}
.todo-list .editing .edit {
    display: block;
}
.todo-list .editing input, .todo-list .editing select {
    width: 444px;
    font-size: 18px;
    font-family: inherit;
    margin: 5px;
    line-height: 1.6em;
    border: 0;
    outline: none;
    padding: 10px 7px 0px 27px;
    border: 1px solid #999999;
}

/********************************* 
 *  items
*********************************/
.todo-list .left-checkbox, .todo-list .center-content, .todo-list .right-content {
    float: left;
}

.todo-list .left-checkbox {
    width: 50px;
}

.todo-list .todo-description {
    color: #999999;
    padding-bottom: 10px;
}

.todo-list .todo-author {
    color: #999999;
    font-style: italic;
}

.todo-list .todo-prio {
    font-weight: bold;
}

.todo-list .todo-list-right {
    display: none;
}

.todo-list .center-content {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding-left: 10px;
    width: 350px;
}

.todo-list .right-content {
    padding-left: 10px;
}

.todo-list .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
}
.todo-list .done .todo-text {
    text-decoration: line-through;
    color: #777777;
}

/********************************* 
 *  stats & footer
*********************************/
.todo-stats {
    *zoom: 1;
    margin-top: 10px;
    color: #777777;
}
.todo-stats:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.todo-stats .todo-count {
    font-size: 14px;
    font-weight: normal;
    float: left;
}
.todo-stats .todo-count .number {
    font-weight: bold;
    color: #333333;
}
.todo-stats .todo-clear {
    float: right;
}
.todo-stats .todo-clear a {
    color: #777777;
    font-size: 12px;
}
.todo-stats .todo-clear a:visited {
    color: #777777;
}
.todo-stats .todo-clear a:hover {
    color: #336699;
}
